app/backend/utlis/__pycache__/
app/__pycache__/
app/backend/__pycache__/
app/backend/routers/__pycache__/
__pycache__/
*.ipynb_checkpoints
anaconda_projects/
/cropped_faces/
/enhanced_faces/
*.jpg
*.ipynb
logs.txt
.dockerignore
